
crypto/donft-bundle/target/*

crypto/donft-bundle/out/*

crypto/donft-bundle/res/*

crypto/donft-bundle/.env

crypto/donft-collection-factory/target/*

crypto/target/*
crypto/testing/node_modules
crypto/neardev
